<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Food Ordering App</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>

        <header>
            <h1>Welcome to Gracie Ordering App</h1>
            <p>Order your favorite meals online.</p>
        </header>

        <main>
            <section>
                <h2>Popular Meals</h2>

                <div class="food-item">
                    <h3>Spaghetti</h3>
                    <p>₦3,000</p>
                </div>
            </section>
        </main>

        <footer>
            <p>&copy; 2026 Food Ordering App</p>
        </footer>
<a href="/signup">Create Account</a> OR <a href="login">Login your account</a>
    </body>
</html>