<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu - Grace Ordering Site</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <main>
        <h1>Our Menu</h1>
        <a href="/cart">🛒 View Cart</a>
        {{if .Message}}
        <p>{{.Message}}</p>
        {{end}}

        {{range .Items}}

            <div>
                <h2>{{.Name}}</h2>
                <p>{{.Description}}</p>
                <p>₦{{.PriceKobo}}</p>

                <form action="/cart/add" method="post">
                    <input type="hidden" name="id" value="{{.ID}}">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        {{else}}
            <p>No menu items available.</p>
        {{end}}
        
        <a href="/">Back to Home</a>
    </main>
</body>
</html>